In [1]:
#Import packages
import pandas as pd
import numpy as np
import re

In [2]:
#Load original dataframes
allDataOrig = pd.read_csv("../Data/Original DataFrames/AllData.csv", sep=",", index_col='DEIDNUM') #all feature dataset
hemoOrig = pd.read_csv("../Data/Original DataFrames/HemoFullComposite.csv", sep=",", index_col='DEIDNUM') #dataset with only hemodynamics

In [3]:
giantList = []
for i in range(len(hemoOrig)):
    df = hemoOrig.iloc[i]
    row0 = []
    row1 = []
    row0.append(df.name)
    row1.append(df.name)
    for col in df.index:
        if "_B" in col:
            row0.append(df[col])
        elif "_D" in col:
            row1.append(df[col])
        else:
            pass
        
    giantList.append(row0)
    giantList.append(row1)

    
hemoSingleDF = pd.DataFrame(giantList, columns=['DEIDNUM', 'RAP', 'PAS', 'PAD', 'PAMN', 'PCWP', 'PCWPMod', 'PCWPA', 'PCWPMN', 'CO', 
                            'CI','SVRHemo', 'MIXED', 'BPSYS', 'BPDIAS', 'HRTRT', 'RATHemo', 'MAP','MPAP', 'CPI',
                            'PP', 'PPP', 'PAPP', 'SVR', 'RAT', 'PPRatio', 'Age', 'EjF']).set_index('DEIDNUM', drop=True)

In [4]:
hemoSingleDF.head(8)

,RAP,PAS,PAD,PAMN,PCWP,PCWPMod,PCWPA,PCWPMN,CO,CI,...,MPAP,CPI,PP,PPP,PAPP,SVR,RAT,PPRatio,Age,EjF
DEIDNUM,,,,,,,,,,,,,,,,,,,,,
72,24.0,42.0,24.0,30.0,36.0,36.0,36.0,36.0,2.20,1.60,...,58.000000,0.607834,28.0,0.245614,0.428571,5357.575758,0.666667,0.266667,88.0,25.0
72,18.0,42.0,24.0,30.0,24.0,24.0,24.0,28.0,3.10,2.00,...,58.000000,0.682927,24.0,0.235294,0.428571,3509.677419,0.750000,0.272727,88.0,25.0
81,10.0,40.0,20.0,27.0,18.0,18.0,18.0,20.0,4.52,2.02,...,53.333333,0.546430,17.0,0.212500,0.500000,1982.300885,0.555556,0.242857,69.0,20.0
81,12.0,35.0,15.0,25.0,17.0,17.0,17.0,14.0,4.65,2.08,...,45.000000,0.530377,40.0,0.470588,0.571429,1772.043011,0.705882,0.571429,69.0,20.0
814,3.0,51.0,19.0,30.0,18.0,18.0,18.0,18.0,4.10,2.00,...,63.666667,0.609017,34.0,0.354167,0.627451,2621.138211,0.166667,0.566667,58.0,NaN
814,2.0,38.0,12.0,21.0,12.0,12.0,12.0,12.0,NaN,NaN,...,46.000000,NaN,42.0,0.446809,0.684211,NaN,0.166667,0.700000,58.0,NaN
1084,13.0,40.0,26.0,21.0,20.0,20.0,20.0,20.0,2.91,1.76,...,57.333333,0.517724,21.0,0.238636,0.350000,3289.805269,0.650000,0.190909,49.0,14.0
1084,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,49.0,14.0

In [5]:
#save to file
hemoSingleDF.to_csv("../Data/Original DataFrames/HemoSingleValue.csv")

## All Data

In [6]:
giantList = []
for i in range(len(allDataOrig)):
    df = allDataOrig.iloc[i]
    row0 = []
    row1 = []
    row0.append(df.name)
    row1.append(df.name)
    for col in df.index:
        if "_B" in col:
            row0.append(df[col])
        elif "_D" in col:
            row1.append(df[col])
        elif "_Chg" in col or "_M3" in col or "_M6" in col:
            pass
        else: #value for both base and discharge
            row0.append(df[col])
            row1.append(df[col])
        
    giantList.append(row0)
    giantList.append(row1)

    

allDataSingleDF = pd.DataFrame(giantList, columns=['DEIDNUM','Age', 'Gender', 'Race', 'Wt', 'BMI', 'InitialHospDays', 'TotalHospDays', 'NYHA', 'MLHFS', 'AF', 'AlchE', 'ANGP', 'AOREG', 'AOST', 'ARRH', 'CABG', 'CARREST', 'COPD', 'CVD', 'CYTOE', 'DEPR', 'DIAB', 'FAMILE', 'GOUT', 'HEPT', 'HTN', 'HYPERE', 'HTRANS', 'ICD', 'IDIOPE', 'ISCHD', 'ISCHEME', 'MALIG', 'MI', 'MTST', 'OTHUNE', 'PACE', 'PERIPAE', 'PMRG', 'PTCI', 'PTREG', 'PVD', 'RENALI', 'SMOKING', 'STERD', 'STROKE', 'SVT', 'TDP', 'TIA', 'VAHD', 'VALVUE', 'VF', 'SixFtWlk', 'VO2', 'ALB', 'ALT', 'AST', 'BUN', 'CRT', 'DIAL', 'HEC', 'HEM', 'PLA', 'POT', 'SOD', 'TALB', 'TOTP', 'WBC', 'ACE', 'BET', 'NIT', 'ANGIO', 'CINF', 'DIUR', 'AMR', 'ATE', 'BEN', 'BIS', 'BUM', 'CAND', 'CAP', 'CAR', 'DIGX', 'DIN', 'DOB', 'DOP', 'ENA', 'ETH', 'FOS', 'FUR', 'LIS', 'LOSA', 'MET', 'MIL', 'MON', 'NAT', 'NIG', 'NIP', 'OTHAA', 'OTHA', 'OTHB', 'OTHD', 'PRO', 'QUI', 'RAM', 'TOP', 'TOR', 'TRA', 'VALSA', 'EjF', 'BPDIAS', 'BPSYS', 'HR', 'PV', 'MAP', 'PP', 'PPP', 'PPRatio']
).set_index('DEIDNUM', drop=True)

In [7]:
allDataSingleDF.head(8)

,Age,Gender,Race,Wt,BMI,InitialHospDays,TotalHospDays,NYHA,MLHFS,AF,...,VALSA,EjF,BPDIAS,BPSYS,HR,PV,MAP,PP,PPP,PPRatio
DEIDNUM,,,,,,,,,,,,,,,,,,,,,
72,88.0,2.0,1.0,57.100000,26.424175,9.0,16.0,4.0,76.0,1.0,...,NaN,25.0,68.0,94.0,104.0,12.452563,139.333333,26.0,0.276596,0.250000
72,88.0,2.0,1.0,52.000000,24.064047,9.0,16.0,3.0,76.0,1.0,...,NaN,25.0,60.0,86.0,92.0,12.452563,126.000000,26.0,0.302326,0.282609
81,69.0,1.0,1.0,102.363636,32.307675,5.0,13.0,4.0,21.0,1.0,...,NaN,20.0,56.0,88.0,70.0,-3.346568,125.333333,32.0,0.363636,0.457143
81,69.0,1.0,1.0,100.454545,31.705134,5.0,13.0,2.0,21.0,1.0,...,NaN,20.0,43.0,77.0,72.0,-3.346568,105.666667,34.0,0.441558,0.472222
86,56.0,2.0,2.0,98.636364,40.016375,3.0,3.0,4.0,NaN,0.0,...,NaN,25.0,70.0,100.0,86.0,5.478621,146.666667,30.0,0.300000,0.348837
86,56.0,2.0,2.0,97.000000,39.352509,3.0,3.0,4.0,NaN,0.0,...,NaN,25.0,56.0,97.0,82.0,5.478621,134.333333,41.0,0.422680,0.500000
267,82.0,1.0,1.0,82.200000,30.938312,15.0,14.0,4.0,60.0,1.0,...,NaN,25.0,54.0,96.0,70.0,-29.218833,132.000000,42.0,0.437500,0.600000
267,82.0,1.0,1.0,81.700000,30.750122,15.0,14.0,4.0,60.0,1.0,...,NaN,25.0,60.0,100.0,100.0,-29.218833,140.000000,40.0,0.400000,0.400000

In [8]:
#save to file
allDataSingleDF.to_csv("../Data/Original DataFrames/AllDataSingleValue.csv")